*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

body article h1 {
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightpink;
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 20px;

}

article p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 24px;
}

article:first-child h1{
    color: aquamarine;
}

article:nth-child(2) h1{
    font-weight: bold;
    color: blueviolet;
}

